html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

body{
	background-color: #eee;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.suzhi{
	font:1rem Audiowide;
}
.info{
	display: none;
}

@media(min-width: 900px){
	.suzhi{
		overflow: hidden;
		display: block;
		width: 900px;
		margin:100px auto;
	}
	.game{
		float: left;
		width: 550px;
		height: 550px;
	}
	.info{
		display: block;
		float: left;
		width: 350px;
		height: 550px;
		background-color: #DDDDDD;
		color: #666;
		font-size: .7rem;
		line-height: 1.45rem;
		text-align: center;
		position: relative;
	}
	.info h1{
		font-size: 1.4rem;
		margin:10px 0;
		text-transform: uppercase;
		color: #001F3F;
		text-align: left;
		padding: 20px;
	}
	.info h2{
		font-size: 1.2rem;
		margin-bottom: 10px;
	}
	.info ul{
		list-style: square;
		letter-spacing: 1pt;
		margin-left: 20px;
		text-align: left;
		padding: 0 20px 20px 20px;
		font-size: 1rem;
	}
	.info .author{
		margin: 100px 0;
		font-size: .9rem;
		border-top: 1px dashed #ccc;
		padding: 10px 0;
	}
	.author a{
		color: #111111;
		text-decoration: none;
	}
	footer{
		clear: both;
		padding-top: 20px;
	}
	.ad{
		position: absolute;
		bottom: 0;
		left: 5px;
	}
}
